@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --text-gradient: #00aaff; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #00ddff, #0400ff); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #14a1c0, #c300ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    background-clip: text;
    --clst:(#0adcf3);
    --background-gradientcyan:linear-gradient(to right, #14a1c0, #c300ff);
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}
@media (max-width:500px) {
    header{
        backdrop-filter: blur(20px);
    }
    
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 99;
}
#logo{
    font-size: 1.5em;
    color: #0adcf3;
    user-select: none;
    position: absolute;
    top: 0.2rem;
    z-index: 99;
}
.navigation a{
    position: relative;
    font-size: 1.1em;
    color: #ed00d5;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
    right: 1.5rem;
}
.navigation a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #9d07d9;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}
.navigation a:hover::after{
 transform: scaleX(1);
 transform-origin: left;
}
#navbar {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 0 rgb(0 0 0 / 40%);
    z-index: 10;
    padding-bottom: 0.8rem;
    padding-top: 0.5rem;
    backdrop-filter: blur(0.5rem);
}
.welcome-section{
    background: url(https://rare-gallery.com/uploads/posts/1028195-night-minimalism-sky-glowing-blue-modern-atmosphere-light-blue-lasers-wave-line-darkness-screenshot-computer-wallpaper-atmosphere-of-earth.jpg) no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-position: center;
    width: 100%;
    height: 100vh;
}
h1,p{
    background: #00aaff; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #00ddff, #0400ff); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #14a1c0, #c300ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 3em;
}
p{
    font-size: 1.3em;
}
 h3{
    text-align: center;
   color:var(--text-gradient);
   border-bottom: 2px #fff;
   padding: 50px 0px;
}
img{
    height: 20%;
    width: 35%;
    margin:40px;
}
.project-grid a{
    text-decoration: none;
}
#projects{
    
    background-repeat: no-repeat;
    background-size: 100vw 100%;
    padding: 20px;
}
.wrapper{
    display: flex;
    justify-content: center;
    flex-direction: row;
    backdrop-filter: blur(20px);
    background:#9b10ad48;
    border:2px solid rgba(0, 0, 0, 0.5);
    width: 380px;
    height: 360px; 
    border-radius: 20px;
}
a p{
    position: relative;
    text-align: center;
    transition: border 0.3s;
}
.project-tile{
display: flex;
flex-direction: column;
align-items: center;
}
.project-image{
    width: 90%;
    height: calc(90% - 6.5rem);
}
.project-grid{
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(320px, 1fr));;
    grid-gap:4rem;
    justify-items: center;
}
.project-grid .project-tile {
    position: relative;
    color: transparent;
}
.project-tile ::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: #c300ff;
    border-radius: 5px;
    left: 0px;
    bottom: -6px;
    transform: scaleX(0);
    transition: transform 0.5s;
    transform-origin: right;
}
.project-tile :hover::after{
    transform-origin: left;
    transform: scaleX(1);
}
.show-all {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-gradient);
    font-size: 1.3em;
    text-decoration: none;
    font-weight: 700;
    border-radius: 3px;
    width: 270px;
    text-align: center;
    margin:40px auto 10px auto;
    border: 3px solid;
    background: rgba(0, 221, 255, 0.1);
    transition: transform 0.3s, border 0.3s, color 0.3s;
}
.show-all:hover{
    transform: scale(1.1);
    border: 3px solid #9d07d9;
    color: #fff;
    background:linear-gradient(-45deg, #c300ff 50%, #9d07d9 50%);
}
#contact{
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    min-height: 80vh;
}

.contact-section h3{
    padding: 0px;
    font-size: 5em;
    background: #00aaff; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #00ddff, #0400ff); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #14a1c0, #c300ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.contact-icons a{
    margin: 30px;
    text-decoration: none;
}
.contact-details{
    font-size: 1.8rem;
}
.contact-icons .contact-details{
    position: relative;
    background: #00aaff; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #00ddff, #0400ff); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #14a1c0, #c300ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.contact-icons .contact-details::after{
    content:'';
    position: absolute;
    width: 100%;
    height: 3px;
    background:#c300ff;
    border-radius: 5px;
    left:0px;
    bottom:-6px;
    transform: scaleX(0);
    transition: transform .5s;
}
.contact-icons .contact-details:hover::after{
    transform: scaleX(1);
}
.contact-icons{
    margin-top: 20px;
}

#myAbilities{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 5rem;
    height: 100vh;
}
#ability-title{
    font-size: 2rem;
    background: #00aaff; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #00ddff, #0400ff); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #14a1c0, #c300ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: flex;
    flex-direction: column;
    text-align: center;
}
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
    box-shadow: 0 0 10px #9d07d9;
    padding: 0.8rem;
    border-radius: 2rem;
}
.circular-progress{
    position: relative;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    background: conic-gradient(#00ddffa0 3.6deg, #063f4c 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
}
.circular-progress ::before{
    content: "";
    position: absolute;
    z-index: -1;
    bottom: 0.5rem;
    right: 0.5rem;
    height:5rem;
    width: 5rem;
    border-radius: 50%;
    background-color: #063f4c;
}
.progress-value{
    position: static;
    z-index: 0;
    color: #0adcf3;
}
.text{
    color: #14a1c0;
}
#js-text{
    margin-left: 0.4rem;
}
#ts-text{
    margin-left: 0.4rem;
}
#sql-text{
    margin-left: -0.2;
}
#ph-text{
    margin-left: -0.2rem;
}
#technical-abilities{
    gap: 4rem;
}
#profesional-abilities{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.pf-progress{
 margin-bottom: 5rem;
}
.pf-progress h4{
    margin: 0 0 1rem 1rem;
    letter-spacing: .5px;
    color: var(--text-gradient);
}
.progress-bar{
    position: relative;
    width:24rem;
    height: 1.75rem;
    border-radius: 1.75rem;
    background: #063f4c;
    box-shadow: 0 0 10px #9d07d9;
}
.progress-bar span{
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    color:#063f4c;
    font-weight: 800;
    font-size: 1.2rem;
    line-height: 1.7;
    text-align: center;
    border-radius: 7.5rem;
    background:var(--background-gradientcyan);
    transition: width .5s linear;
}
